.minio.sys
_cache
docker/keys
docker/minio/data
pipeline-secrets.yml
keys
.DS_Store

docker/git-server

docker/minio/*
!docker/minio/data

docker/minio/data/*
!docker/minio/data/releases

docker/minio/data/releases/*
!docker/minio/data/releases/app*

tmp
experiments
docker
.tgz
VENDORED_GEMS